.appointmentItem {
  height: 80px;
  width: 250px;
  border: 1px solid #b5b7c4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ai-ts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 230px;
  margin-bottom: 5px;
}

.ai-title {
  color: #171f46;
}

.star-img {
  height: 20px;
}

.date-box {
  height: 25px;
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: #b5b7c4;
  font-size: 14px;
  margin: 0;
}

.star-btn {
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}

.delete-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.delete-img {
  height: 18px;
}
